<h1>Consulta de Descuento</h1>

<br>
<label>Placas de ejemplo :</label><br>
<label>AAA0001</label><br>
<label>AAA0002</label><br>

<label for="identification">Número de placa:</label><input type="text" [(ngModel)]="identification" id="identification" />
<button (click)="fetchOffer()">Obtener Descuento</button>
<br>
<div *ngIf="offer">
  <br>
  <label for="nameField">Nombre: </label>
  <input type="text" [(ngModel)]="offer.name" id="nameField" disabled /><br>

  <label for="lastnameField">Apellido: </label>
  <input type="text" [(ngModel)]="offer.lastname" id="lastnameField" disabled /><br>

  <label for="identificationField">DNI: </label>
  <input type="text" [(ngModel)]="offer.identification" id="identificationField" disabled /><br>

  <label for="carLicensePlateField">Placa: </label>
  <input type="text" [(ngModel)]="offer.carLicensePlate" id="carLicensePlateField" disabled /><br>

  <label for="discountField">Descuento: </label>
  <input type="text" [(ngModel)]="offer.discount" id="discountField" disabled />
</div>
<div *ngIf="error">
  <p>Error al obtener el descuento</p>
</div>
